
{# Cover #}
<section class="jumbotron cover text-center">
<div class="container">
    <h2 class="py-3 text-white">Connecting suppliers with buyers</h2>
    <form class="form-inline my-2 justify-content-center my-md-0">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Search</label>
        <div class="input-group mb-2 mr-sm-2 w-100">
            <input type="text" class="form-control" id="searchIcover" placeholder="Search bidding...">
            <div class="input-group-append">
            <button type="button" class="btn bg-white" style="border: 1px solid #ddd;"><i style="font-size: 130%;" class="fas fa-search text-danger"></i></button>
            </div>
        </div>
    </form>
    <p>
    <a href="#content"><i class="text-white my-3 fas fa-2x fa-arrow-circle-down"></i></a>
    </p>
</div>
</section>{# Cover End #}
