{% extends 'base.html.twig' %}
{% block header_navigation_links %}{% endblock %}
{% block body %}
<div class="container-fluid py-5 bg-dark"> 
    <div class="container rounded bg-white register-container py-4 col-xs-12 col-sm-10 col-md-6 col-lg-4">
    <h2 class="page-header">Write an Offer</h2>
    <hr>
    {% for message in app.flashes('notice') %}
        <div class="p-2 text-success font-weight-bold">
            {{ message }}
        </div>
        <hr>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    </div>
</div>
{% endblock %}
