{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid py-3 bg-dark"> 
    <h2 class="page-header mb-5 text-center text-white">offers</h2>
    {% for offer in offers %}
        <div class=" mx-auto col-sm-12 col-md-8 bg-white rounded p-3 my-3">
        <h4 class="font-weight-bold">Description</h4>
        <p class="mb-0">{{ offer.description }}</p>
        <hr class="my-1">  
        <p class="mb-0">
            <strong>Maximum Price</strong>
            {{ offer.price }}
         </p>
         <hr class="mt-1 mb-2">  
         <a href="/offer/edit/{{ offer.id }}" class="btn btn-secondary">Edit</a>
         <a href="/offer/delete/{{ offer.id }}" class="btn btn-secondary">Delete</a>

        </div>  
    {% endfor %}

</div>
{% endblock %}